{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-2">
            <div class="div">
                <h4>Total applications</h4>
                <p>{{ applications.total }}</p>
                <hr>
                <h4>Finished</h4>
                <p>{{ applications.finished }}</p>
                <hr>
                <h4>Accepted</h4>
                <p>{{ applications.accepted }}</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Applications over the time</div>
                <div class="panel-body">
                    <canvas id="applicationsChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <h4 class="text-center">Percentages</h4>
            <canvas id="applicationsStatus"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.js"></script>
    <script src="{% static "js/stats.js" %}"></script>
{% endblock %}