{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Applications over the time</div>
                <div class="panel-body">
                    <canvas id="applicationsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.js"></script>
    <script src="{% static "js/stats.js" %}"></script>
{% endblock %}